.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: gold;
}

.section {
  width: 30%;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: black;
  outline: solid white;
  padding: 20px;
}

.sectionTitle {
  color: gold;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.list {
  color: white;
  list-style: none;
  padding: 0;
}

.listItem {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.description {
  color: #ccc;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 0.9em;
  margin-top: 20px;
}

.footer a {
  color: #007bff;
  text-decoration: underline;
}

.footer a:hover,
.footer a:focus {
  color: #0056b3;
  text-decoration: none;
}
